#btn-blog {
    color: #23939f;
    border-bottom: 2px solid #23939f;
    background: #444
}

::-webkit-input-placeholder {
    color: #757575;
    font-weight: 300
}

::-moz-placeholder {
    color: #757575;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #757575;
    alert('chegou ao final');
    font-weight: 300
}

:-moz-placeholder {
    color: #757575;
    font-weight: 300
}

.header {
    position: relative;
    padding: 0;
    top: 75px
}

.header .share {
    position: absolute;
    right: 20px;
    bottom: -30px;
    z-index: 100;
    text-align: center
}

.header .share i {
    z-index: 10;
    position: relative;
    background: #fff;
    color: #424242;
    float: left;
    border-radius: 30px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 24px;
    box-shadow: 0 1px 6px #424242
}

.header .share a {
    border-radius: 40px;
    bottom: 0;
    color: #fff;
    height: 40px;
    position: absolute;
    right: 10px;
    width: 40px;
    font-size: 16px;
    top: 0;
    line-height: 40px;
    -webkit-transition: all .3s;
    transition: all .3s
}

.header .share a.fa-envelope {
    background: #465a63
}

.header .share a.fa-facebook, .header .share a.fa-linkedin {
    background: #0080c1
}

.header .share a.fa-envelope.active {
    top: -256px
}

.header .share a.fa-facebook.active {
    top: -204px
}

.header .share a.fa-linkedin.active {
    top: -154px
}

.header .share a.fa-twitter {
    background: #46A6F2
}

.header .share a.fa-twitter.active {
    top: -104px
}

.header .share a.fa-google-plus {
    background: #DF4D34
}

.header .share a.fa-google-plus.active {
    top: -54px
}

.header .image {
    overflow: hidden;
    margin: 0 0 80px;
    position: relative;
    background: rgba(255, 255, 255, .2)
}

.header .image img {
    width: 100%;
    height: auto
}

.header .image span.holder {
    padding: 400px 0 0;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .8));
    background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, .8));
    float: left;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.header .image span.holder h1 {
    float: left;
    width: 100%;
    font-family: arciform_sansregular;
    font-size: 56px;
    margin-bottom: 25px;
    color: #fff
}

.header .image span.holder h1 span {
    display: block;
    width: 50%
}

.header .fixed {
    padding: 14px 0;
    display: none;
    position: fixed!important;
    top: 0;
    width: 100%;
    background: #273238;
    z-index: 10
}

.container {
    max-width: 1400px;
    width: 90%
}

.header .fixed .container span {
    color: #fff;
    font-size: 18px;
    font-weight: 200;
    line-height: 34px
}

.container .row {
    display: block
}

.post .row {
    position: relative
}

.post aside {
    position: static;
}

.post .container aside .block {
    margin-bottom: 30px
}

.post .container aside .block a,
.post .container aside .block a img {
  width: 100%;
}

.post .container aside .block span {
    color: #757575;
    font-weight: 400;
    display: block;
    width: 100%;
    margin-bottom: 10px
}

.post .container aside .block p {
    color: #757575;
    font-weight: 300
}

.post .container aside .block ul {
    margin: 0;
    padding: 0
}

.post .container aside .form span {
    font-size: 18px;
    margin-bottom: 20px
}

.post .container aside #list-categories {
    list-style: none
}

.post .container aside #list-categories li a {
    color: #23939f;
    font-weight: 300;
    display: block;
    width: 100%
}

.post .container aside .aside-fixed {
    width: 230px;
    top: 100px;
}

.post .container aside .aside-fixed.fixed {
    position: fixed
}

.post .container aside .aside-fixed.bottom {
    position: absolute;
    bottom: 0;
    top: auto
}

.post article .content {
    font-family: RobotoDraft
}

.post article .content div {
    width: 100%!important
}

.post .row {
    padding-bottom: 0
}

.post article .content p {
    width: 100%;
    display: block;
    font-family: Roboto;
    font-size: 16px;
    color: #4A4A4A;
    margin: 0;
    line-height: 30px;
    font-weight: 300;
    float: left
}

.post article .content p img {
  width: auto;
  max-width: 100%;
}

.post article .content p.pLight {
  width: 100%;
  min-width: 17.5em;
  margin:0 auto 35px;
}

.post article .content p .hold {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin: 0 auto;
  display: block;;
}

.post article .content p iframe {
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.post article .content h2:first-child:first-letter, .post article .content p:first-child:first-letter {
    font-family: arciform_sansregular;
    font-size: 108px;
    margin-right: 18px;
    line-height: 88px;
    font-weight: 300;
    float: left;
    color: #23939f
}

.post article .content strong {
    font-weight: 500;
    color: #424242
}

.post article .content h3 {
    line-height: 28px;
    color: #757575;
    font-weight: 300;
    font-size: 22px;
    margin: 0 0 40px
}

.post article .content img {
    max-width: 100%;
    width: 100%;
    height: auto
}

.post article .content h4 {
    line-height: 26px;
    color: #4CB5AB;
    font-weight: 300;
    font-size: 16px;
    margin: 0 0 40px
}

.post article .content h6 {
    font-size: 14px;
    font-weight: 300;
    color: #757575
}

.post article .author {
    border-top: 1px solid #e9e9e9;
    padding-top: 40px;
    float: left;
    width: 100%;
    margin-top: 40px
}

.post article .author img {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    float: left;
    margin-right: 30px
}

.post article .author strong {
    font-weight: 300;
    display: block;
    margin: 4px 0 0
}

.post article .author p {
    color: #9e9e9e;
    font-weight: 300
}

.post article .author p.social {
    margin: 16px 73px
}

.post article .author p.social a {
    border: 1px solid #ccc;
    color: #9e9e9e;
    font-size: 16px;
    -webkit-transition: all .3s;
    transition: all .3s;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 38px;
    margin: 0 5px;
    border-radius: 38px
}

.post article .author p.social a:hover {
    background: #ccc;
    color: #fff
}

box-comments {
    float: left;
    border-radius: 2px;
    width: 100%;
    margin: 60px 0 100px;
    box-shadow: 0 1px 3px #999
}

.comments {
    float: left;
    width: 100%;
    margin-bottom: 40px
}

.comments .title {
    background: #f5f5f5;
    padding: 20px 32px;
    font-size: 16px;
    display: block
}

.comments .item {
    position: relative;
    min-height: 96px;
    display: block;
    margin: 40px 32px 0 92px;
    padding: 40px 0 0;
    border-top: 1px solid #ccc
}

.comments .item:first-child {
    border-top: 0;
    margin-top: 0
}

.comments .item img {
    left: -60px;
    top: 40px;
    position: absolute;
    border-radius: 96px;
    width: 40px;
    height: 40px
}

.comments .item strong {
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px
}

#at-expanded-menu-host .at-expanded-menu-mask {
  z-index: 99999999!important;
}

#at-expanded-menu-host .at-expanded-menu-close {
  z-index: 999999999!important;
}

#at-expanded-menu-host .at-expanded-menu {
  z-index: 99999999!important;
}

#at-expanded-menu-host .at-expanded-menu-search-input[type=text] {
  border-bottom: none!important
}

.addthis_toolbox, .at-expanded-menu-top-services-header {
  display: none!important
}

#at-expanded-menu-host .at-expanded-menu-close {
  height: 70px!important;
  background: none!important;
  color: #fff!important;
}

#at-expanded-menu-host .at-expanded-menu-close span {
  font-size: 48px!important;
}

#at-expanded-menu-title {
  color: #47c3cf!important;
  font-family: arciform_sansregular!important;*/
}

.comments .item small {
    float: right;
    color: #9e9e9e;
    font-size: 12px
}

.comments .item p {
    font-size: 16px;
    color: #9e9e9e;
    margin: 0
}

.post article .content h3.comment-title {
  width: 100%;
  float: left;
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 40px;
  color: #0c7a87;
}

.fb-comments {
  float: left;
}

.post #area-blog {
  background: 0;
  border-top: 1px solid #d5d5d5;
  margin-top: 50px;
  padding-top: 30px;
}

.post #area-blog .card {
  padding-bottom: 40px
}
.post #area-blog .card .card-image {
  height: 200px
}

#respond {
    background: #f5f5f5;
    padding: 32px;
    float: left;
    width: 100%
}

#respond h3 {
    font-weight: 300
}

#commentform {
    margin-top: 20px
}

#commentform .comment-notes {
    color: #9e9e9e;
    margin-bottom: 40px
}

#commentform div {
    margin-bottom: 40px;
    position: relative
}

#commentform div span {
    background: #4CB5AB;
    -webkit-transition: all .3s;
    transition: all .3s;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0
}

#commentform div label {
    position: absolute;
    -webkit-transition: all .3s;
    transition: all .3s;
    line-height: 30px;
    top: 0;
    left: 0;
    font-size: 14px;
    font-weight: 400
}

#commentform div input, #commentform div textarea {
    outline: 0;
    border: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    background: 0;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #ccc
}

#commentform div textarea.full, #commentform div textarea:focus {
    height: 160px
}

#commentform div input.full+span, #commentform div input:focus+span, #commentform div textarea.full+span, #commentform div textarea:focus+span {
    width: 100%;
    left: 0
}

#commentform div input.full~label, #commentform div input:focus~label, #commentform div textarea.full~label, #commentform div textarea:focus~label {
    top: -14px;
    font-size: 12px;
    line-height: 14px
}

#commentform input#submit {
    border-radius: 4px;
    background: #23939f;
    color: #fff;
    padding: 8px 14px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .12);
    border: 1px solid #23939f
}

#commentform input#submit:hover {
    background: 0 0;
    color: #23939f
}

.form-rec form {
    width: 100%
}

.form-rec form div {
    margin-right: 40px;
    position: relative
}

.form-rec form div span {
    background: #424242;
    -webkit-transition: all .3s;
    transition: all .3s;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0
}

.form-rec form div input {
    outline: 0;
    border: 0;
    background: 0;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #ccc!important
}

.form-rec form div button {
    position: absolute;
    right: -40px;
    top: 5px;
    background: #23939f;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 20px;
    border: 1px solid #23939f;
    -webkit-transition: ease .3s;
    transition: ease .3s;
    font-size: 24px;
    text-align: center;
    padding-left: 3px
}

.btn-floating, .btn-floating:hover {
    background: #23939f
}

.fixed-action-btn.static {
    position: absolute;
    bottom: auto
}

.fixed-action-btn {
    bottom: 83px
}

.fixed-action-btn ul li a i {
    font-size: 1.2rem
}

#at-expanded-menu-host, #at-expanded-menu-host .at-expanded-menu {
    z-index: 999999
}

.at-menu-close {
    position: fixed;
    right: 20px;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    z-index: 16777274;
    border: none;
    border-radius: 50%;
    font-family: arial, sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    background: 0 0;
    color: #fff;
    top: 30px
}

#filter-share, #share {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.at-menu-close i {
    font-size: 30px
}

.at3winsvc_blogger.top-service, .at3winsvc_favorites.top-service, .at3winsvc_pinterest_share.top-service, .at3winsvc_tumblr.top-service {
    display: none!important
}

#filter-share, #share {
    display: none
}

#share {
    z-index: 999999999
}

#share #flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%
}

#share h2 {
    font-family: arciform_sansregular!important;
    font-size: 36px!important;
    color: #23939f!important;
    text-align: center;
    margin-top: -150px
}

#share h3 {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 50px
}

#areaShare ul {
    text-align: center;
    max-width: 530px;
    display: none
}

#areaShare li {
    display: inline-block;
    width: 65px;
    margin: 0 20px
}

#areaShare .at-icon-wrapper {
    border-radius: 50%
}

#filter-share {
    background: #000;
    z-index: 99999999;
    opacity: .9
}

.fb_iframe_widget iframe, .fb_iframe_widget span {
    width: 100%!important
}

@media (max-width:767px) {
    .fixed-action-btn {
      bottom: 50px;
      position: absolute;
    }

    .header .image span.holder h1 {
        font-size: 28px
    }
    .header .image span.holder h1 span {
        width: 100%
    }
    .post .container aside {
        position: static;
        height: auto!important
    }
    .post .container aside .aside-fixed.bottom, .post .container aside .aside-fixed.fixed {
        position: static
    }
    .post .row {
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0
    }
    .post article .content p {
        margin-bottom: 20px
    }

    .post #area-blog .card {
      padding-bottom: 60px
    }
}

@media (min-width: 768px) and (max-width: 1100px) {
  .post .row .col.s3 {
    width: 25%
  }
  .post .row .col.s8 {
    width: 66.6666666667%
  }
  .form-rec form div input {
    width: 80%
  }
  .form-rec form div button {
    right: 0
  }
}
